# Ignore all bin directories
bin

# Ignore Mac metadata
.DS_Store

# Ignore all files ending with ~
*~

# Ignore the target directory
# Matches "target" in any subfolder
target/ 

# Ignore metadata
.metadata

compiled/
